// Variables
// See available variables to override in node_modules/bootstrap/scss/_variables.scss
$white: #FFFFFF;
$blue: #57ADD3;
$green: #93CCA7;

$primary:       $blue;
$secondary:     #96A6BE;
$success:       $green;

// Prefix for :root CSS variables
$prefix: -fc;

// Custom variables
$btn-primary-bg: #EFFAFF;